.additionally-form {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.additionally-form__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
}
