.contacts-form__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
}

.contacts-form__email,
.contacts-form__email-input,
.contacts-form__tel,
.contacts-form__tel-input {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
