.forms-footer__button {
  color: #ffffff;
  background-color: #68b738;
}

.forms-footer__footnote {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
}
